.table-container {
  max-width:400px;
}

.center{
  text-align:center;
}

.half {
  width: 50%
}

.uppercase {
  text-transform: uppercase
}

.dish-name{
  text-align: right
}

.dots{
  display: block;
  border-bottom: 1px dashed #212121;
  margin: 4px 0px
}

.row {
  display: flex
}

.row > * {
  padding: 4px 8px
}

.one {
  width: 10%
}
.two {
  width: 70%
}
.three {
  width: 20%
}